{% extends "basic_app/base.html" %}
{% block body_block %}
{% load static %}
<div class="jumbotron">
  <title>Fullstack Developer </title>
  <link rel="stylesheet" href="{% static 'css/basic_app.css' %}">
 <h2>Who am I</h2>
  <p> I'm Ai, a up and coming Fullstack Developer!
      Fascinated with everything from technology, programming, economics, psychology and philosophy.
      I hope to integrate all my passions into making the most impact for society.
      Driven by progress, growth, curiosity and just enjoying the beauty of life and the natural world.
 </p>

  <p> Outdoors: Running, Hiking, Surfing
      Indoors: Sipping on tea, coffee, reading, searching, thinking.

      </p>

    <img src="/media/profile_pics/water.jpg" alt="My image">
</div>

{% endblock %}
